@tailwind base;
@tailwind components;
@tailwind utilities;

.move-left-right:hover {
    animation: slide 0.5s ease-in-out infinite;
  }

@keyframes slide {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }

.a::-webkit-scrollbar {
    width: 0px;
  }

  .one-line {
    display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Optional: adds "..." for overflow */
  }

.search{
  background-image: url("https://i.ibb.co/0QFFVQL/p.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


