@tailwind base;
@tailwind components;
@tailwind utilities;

.move-left-right:hover {
    animation: slide 0.5s ease-in-out infinite;
  }

@keyframes slide {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }



.search{
  background-image: url("https://i.ibb.co/0QFFVQL/p.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.a::-webkit-scrollbar{
    height: 5px;
}


.a.b::-webkit-scrollbar{
width: 10px;
}

.a::-webkit-scrollbar-track{
    background-color: #eee;
}

.a::-webkit-scrollbar-thumb{
    background:rgba(254, 255, 255, 0.694);
    border-radius: 15px;
}


